*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
  height: 100vh;
  background:#091921;
}
.container1
{
    height:100vh;
    background: rgb(218, 148, 56);
}
.body{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
#light{
  height:40px;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
 cursor: pointer;
 color:rgb(253, 253, 66);
}
.light-hide{
    
   visibility: hidden;
}
.dark-hide{
    visibility: hidden;
}
.dark-show
{
   visibility: visible;
}
.light-show{
    visibility: visible;
}
#dark{
  height:40px;
  width: 30px;
  float: right;
  color:white;
  position: absolute;
  top: 15px;
  right: 15px;
 cursor: pointer;
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    margin-top:8.5%;
    justify-content: center;
    z-index:1;
    align-items: center;
    background: url("./images/clock.png");
    background-size: cover;
    border-radius: 50%;
    
}

.clock::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 10000;
}

.clock-in-light
{
    border: 14px solid wheat;
    background:white url("./images/clock.png");
    background-size: cover;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1),
    0 10px 10px rgba(0,0,0,0.2),
    0 0 0 4px rgba(255,255,255,1);
}
.clock-in-light::before{
    background:rgb(114, 112, 112);
}
.clock-in-dark
{
    border: 4px solid #091921;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);
    
}
.clock-in-dark::before{

    background:#fff;
}
.clock .hour,.clock .min,.clock .sec
{
    position: absolute;
}
.clock .hour,.hr{
    width: 160px;
    height: 160px;
}
.clock .min,.m{
    width: 190px;
    height: 190px;
}
.clock .sec,.s{
    width: 230px;
    height: 230px;
}

.hr,.m,.s{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before{
    content: '';
    position: absolute;
    border-radius:6px 6px 0 0 ;
    width: 8px;
    height: 80px;
    z-index: 10;
    background:#ff105e;
}

.m::before{
    content: '';
    position: absolute;
    border-radius:6px 6px 0 0 ;
    width: 4px;
    height: 90px;
    z-index: 11;
}
.s-dark::before,.m-dark::before
{
background:rgb(114, 112, 112);
}
.s-light::before,.m-light::before
{

    background:#fff;
}
.s::before{
    content: '';
    position: absolute;
    border-radius:6px 6px 0 0 ;
    width: 2px;
    height: 150px;
    z-index:12;
}

#clock{
    color:rgb(209, 185, 185);
    text-align: center;
    margin-top:20px;
    font-size: 2.3em;
}










